.header-container {
	display: flex;
	background: var(--color-medium);
	height: 50px;
	align-items: center;
	padding: var(--spacing-medium);
}

.header-counter {
	margin-left: auto;
	padding: 4px;
	padding-right: 10px;
	font-weight: 700;
	cursor: pointer;
	background: var(--linear-gradient);
	border-radius: var(--spacing-small);
	border: 1px solid transparent;
}
.header-counter:hover {
	background: transparent;
	border: 1px solid var(--color-unaccent);
}