* {
	box-sizing: border-box;
}

:root {
	--color-light: #f5f5f5;
	--color-white: #fff;
	--color-unaccent: #808080;
	--color-medium: #ddd;

	--spacing-small: 10px;
	--spacing-medium: 15px;
	--spacing-large: 30px;

	--border-radius: 3px;
	--linear-gradient: linear-gradient(to right, #E2F87C, #D6F567, #C8F151, #B9EE38, #A8EB12);
	--box-shadow:
		0 16px 24px 2px rgba(33, 37, 41, .02),
		0 6px 30px 5px rgba(33, 37, 41, .04),
		0 8px 10px -5px rgba(33, 37, 41, .1);
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	line-height: 1.7;
	background: #333;
}