* {
	box-sizing: border-box;
}

:root {
	--color-light: #f5f5f5;
	--spacing-small: 10px;
	--spacing-medium: 15px;
	--spacing-large: 30px;
}

body {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	line-height: 1.7;
	background: var(--color-light);
}