.shopping-container {
	width: 97%;
	height: 97vh;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
	padding: var(--spacing-large);
	background: var(--color-white);
	box-shadow: var(--box-shadow);
	border-radius: 1em;
}
.shopping-element__name {
	padding: var(--spacing-medium);
	font-weight: bold;
}
.shopping-element__price {
	padding: var(--spacing-medium);
	color: var(--color-unaccent);
}
.buy-now {
	background-image: var(--linear-gradient);
	border: 1px solid transparent;
	padding: 10px 30px;
	font-weight: bold;
	border-radius: 10px;
	cursor: pointer;
}

.shopping__close {
	cursor: pointer;
	position: absolute;
	right: 20px;
	top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.shopping__close svg {
	height: 40px;
	width: 50px;
	padding: 8px;
	/* border-top-right-radius: 14px; */
	transition: .3s ease-in-out;
}
.shopping__close:hover svg {
	fill: white;
	background: red;
}