.shopping-container {
	width: 97%;
	height: 97vh;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: auto;
	padding: var(--spacing-large);
	background: var(--color-white);
	box-shadow: var(--box-shadow);
	border-radius: 1em;
}
.shopping-element__name {
	padding: var(--spacing-medium);
	font-weight: bold;
}
.shopping-element__price {
	padding: var(--spacing-medium);
	color: var(--color-unaccent);
}
.buy-now {
	background-image: var(--linear-gradient);
	border: 1px solid transparent;
	padding: 10px 30px;
	font-weight: bold;
	border-radius: 10px;
	cursor: pointer;
}