.error-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100%;
}
.error-message {
	padding: 20px 40px;
	min-width: 400px;
	text-align: center;
	background-color: var(--error-color-light);
	color: var(--color-white);
	border-radius: var(--border-radius);
	box-shadow: var(--box-shadow);
	border-left: 10px solid var(--error-color-dark);
}
.error-message h3 {
	font-size: 2em;
}
.error-message p {
	font-size: 1.2em;
	font-style: italic;
}